* {
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}
.box {
    flex: 1 1 300px; /*Ensures window cannot shrink below 300px*/
    padding: 20px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}
.myfooter { /*Replacing the footer segment with a footer div for "extra utility"*/
    position: relative;
	width: 100%;
	height: 25%;
	background-color: darkgray;
	margin: auto; /*SHOULD auto center things*/
	text-align: center;
}
input[type=text] {

	font-size: 20px;
	border: none;
	border-bottom: 2px solid #f7c903;
	field-sizing: content; /*automatically sizes the input field to the size of the inputted text*/
}
input[type=submit] {
	font-size: 20px;
	border: none;
	border-bottom: 2px solid #f7c903;
}
input[type=submit]:hover {
	font-size: 20px;
	background-color: #f7c903;
	border: none;
	border-bottom: 2px solid whitesmoke;
}
.button {
	background-color: #f7c903;
	border: whitesmoke;
	color: black;
	padding: 15px 3px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
}
.button:hover {
	background-color: whitesmoke;
	color: black;
	border-style: solid;
	border-color: #f7c903;
}
.Logo {
    /*width: 10%;
    height: 10%;*/
    float: left;
    position: relative;


}
.Banner {
	width: 90%;
	height: 15%;
	float: left;
	position: relative;
	/*top: 2%;
	left: 10%;*/
	padding: 2px;
	overflow: auto;
	border-style: solid;
	border-color: #f7c903;
}
.Banner img {
    width: 100%;
    height: 100%;
    margin: auto;
}
.Seek {
    margin-bottom: -30px; /*This shifts the search bar over the banner image, because z-index wasn't playing nice*/
	float: right;
	position: relative;

}
.SideMenu {
	float: left;
	position: relative;
	width: 150px;
	height: 65%;
	background-color: darkgray;
}
.Content {
	width: 87%;
	height: 65%;
	float: left;
	position: relative;
	/* left: 160px; */
	padding-left: 1%;
	background-color: white;
}
.Vertical {
	list-style-type: none;
	margin: 10px;
	padding: 0;
	width: 130px;
	position: static;
	overflow: auto;
}
.Horizontal {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: darkgray;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	align-content: center;
}

.Horizontal2 {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 20px;;
	align-items: center;
	justify-content: center;
	align-content: center;
}
.container {
	display: flex;
	flex-wrap: wrap;
}
.Category {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 2px;
}
.Product {
    position: relative;
    float: left;
    border-style: solid;
    border-color: #f7c903;
    width: 20%;
    height: 264px;
    margin: 5px;
    padding: 5px;
}
.Product img {
    width: 100%;
    /*not gonna question why this worked like this but sure, w/e*/
}
.Times {
    margin: 5px;
    margin-left: 40px;
}
hr {
    background-color: #f7c903;
    height: 3px;
    border-width: 0px;
}
.Form {
    width: 60%;
    background-color: lightgray;
    border-bottom: 2px solid #f7c903;
}
#message {
    height: 100px;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

@media screen and (max-width:850px) {
	.Banner {
		width: 100%;

}